* {
    font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: black;
  }

  html, body {
 
    margin: 0;
    padding: 0;
    position: relative;
  }
/* 
Text Styles 
*/

  h1 {
      letter-spacing: -1px;
      color: white;
      text-transform: uppercase;
      font-size: 4rem;
  }

  p {
      color: white;
      letter-spacing: -1px;
      line-height: 32px;
      font-size: 1.4rem;
  }



.mainContainer {
    position: relative;
    margin: auto;
    top: calc(50vh - 430px);
    height: 320px;
    width: 680px;
    z-index: 2;

}

.iconContainer {

    padding-top: 2rem;
    padding-left: 2rem;


}


.iconImage {

    height: 120px;
    width: 120px;   
}

.descriptionContainer {
    margin-top: 0.5rem;
    margin-left: 2rem;
    width: 576px;
    height: 160px;

}

.copyContainer {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.countdown {
    opacity: 0.7;
}